html {
  box-sizing: border-box;
  text-align: center;
}

/* this sets the border-box model so that padding/margins/borders are kept inside the element  */
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  padding-bottom: 20px;
}

#board {
  height: 580px;
  width: 600px;
  min-height: 540px;
  background-color: blue;
  border: 10px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid Navy;
}

.restart {
  height: 540px;
  width: 630px;
  min-height: 540px;
  background-color: blue;
  border: 10px solid black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

button {
  margin-top: 20px;
  background-color: rgb(211, 186, 74);
}
